Package: digintel
Version: 1.0.2
Section: utils
Priority: optional
Architecture: all
Depends: python3, curl, whois, dnsutils, net-tools
Maintainer: Aqeel Ur Rehman Chishti <aqeel.chishti@outlook.com>
Description: DigIntel is an advanced, comprehensive OSINT (Open-Source Intelligence) reconnaissance toolkit written in Python, developed for Ethical Hackers, Bug Bounty Hunters, and Information Security Researchers. Gain deeper insights, uncover hidden data, and elevate your recon game.
